---
interface Props {
  title: string;
  date: string;
  description: string;
  link?: string;
  icon?: string;
  items?: string[];
}

const { title, date, description, link, icon, items } = Astro.props;
---

<li class="mb-10 ms-4">
  <div
    class="absolute w-3 h-3 bg-gray-700 rounded-full mt-1.5 -inset-s-1.5 border border-white"
  >
  </div>
  <time class="mb-1 text-sm font-normal leading-none text-gray-400">{date}</time
  >
  <h3 class="text-lg font-semibold text-white">
    {title}
  </h3>
  <p class="mb-4 text-base font-normal text-gray-200">
    {description}
  </p>

  {
    items && (
      <ul class="space-y-2 mb-4">
        {items.map((item) => (
          <li class="flex items-start gap-2 text-gray-300 text-sm">
            <span class="text-amber-300 font-bold">-</span>
            <span>{item}</span>
          </li>
        ))}
      </ul>
    )
  }

  {
    link && (
      <a
        href={link}
        target="_blank"
        class="inline-flex items-center text-blue-400 hover:underline hover:text-blue-300"
      >
        Saber más
        <svg
          class="w-3 h-3 ml-1"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h8M5 1l4 4-4 4"
          />
          {icon}
        </svg>
      </a>
    )
  }
</li>
